{#<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
{#<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
{#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{#<link rel="stylesheet" href="css/mainstyles.css">#}
<!------ Include the above in your HEAD tag ---------->

<html>
    <head>
        {% load static %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static '/css/mainstyles.css' %}" type="text/css"  >
    </head>
    <body>
        <div class="col-md-12" align="center">
            <div class="col-md-6">
                <h1>Podcast Search Engine</h1>
            </div>
            <div class="col-md-6">
                <form method="post" action="/results/">
                    {% csrf_token %}
                    <label class="radio">Anime
                      <input type="radio" checked="checked" name="genre" value="Anime">
                      <span class="checkround"></span>
                    </label>
                    <label class="radio">Comedy
                      <input type="radio" name="genre" value="Comedy">
                      <span class="checkround"></span>
                    </label>
                    <label class="radio">Society
                      <input type="radio" name="genre" value="Society">
                      <span class="checkround"></span>
                    </label>
                    <label class="radio">Technology
                      <input type="radio" name="genre" value="Technology">
                      <span class="checkround"></span>
                    </label>
                    <button  class="btn cust-btn " type="submit" id="btn-registration" style="font-size: 20PX;letter-spacing: 1px;">
                        Search
                    </button>
{#                    <input type="submit" value="SEARCH">#}
                </form>
            </div>
        </div>
    </body>
</html>
